*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html {
    overflow: hidden;
    overflow-y: scroll;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(cloud.webp);
    background-position:center;
    background-size: cover;
    position:relative;
}
.header-contact{
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(cloud.webp);
    background-position:center;
    background-size: cover;
    position:relative;
}
#map {
    height: 500px;
    width: 100% auto;
    margin: 20px;
  }
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items:  center;
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
     list-style: none;
     display: inline-block;
     padding: 8px 12px;
     position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    display: block;
    margin: auto;
    transition:0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.button{
    display: inline;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position:relative;
    cursor: pointer;
}
.button:hover{
    border: 1px solid #82bfe1;
    background: #82bfe1;
    transition: 1s;
}

/* About section*/

.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;

}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height:22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row {
    width: 100%;
}
.col{
   flex-basis: 31%;
   background: #E2FAFF;
   border-radius: 10 px; 
   margin-bottom: 5%;
   padding: 20px 12px;
   box-sizing: border-box;
   transition: 0.5s;
   flex: 1;
   margin: 10px;
   width: 50%;
   max-width: 50%;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.about-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    overflow:hidden;
    border-radius: 100px;
}

.charity-link {
    text-decoration:none;
}
